*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*{
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url(https://images8.alphacoders.com/102/1028032.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

/*	background-color: #34495E !important;*/
}

.headers{
	font-family: 'Shadows Into Light', cursive;
	font-size: 3rem;
}

#navbar{
	background-color: transparent;
	font-size: 2rem;
}

#navbar a{
	color: white;
}

#landing{
	height: 100vh;
	background: linear-gradient(
		rgba(255, 255, 255, 0.60),
		rgba(0, 0, 0, 1)
	), url(./images/cover-image2.avif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@media (max-width: 480px) {
	#landing {
		height: auto;
	}

	#landing img{
		margin-top: 5rem;
	}

	#landing h1{
		font-size: 2rem !important;
		margin-top: 1rem;
	}

	#landing h3{
		font-size: 1rem !important;
	}
}

#landing img{
	max-height: 100%;
	max-width: 100%;
}

/*@media (min-width: 576px) {
	#landing img{
		max-height: 100%;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	#landing img{
		max-height: 100%;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	#landing img{
		max-height: 100%;
		max-width: 100%;
	}
}*/

#landing h1{
	font-size: 4rem;
	font-family: 'Concert One';
}

#landing h3{
	font-family: 'Concert One';
}

#landing p{
	text-align: justify;
	font-style: italic;
}

#projects{
	width: 80vw;
	background-color: rgba(128, 128, 128, .8);

}

#sect-tools, #mobile-sect-tools{
/*	background-color: rgba(128, 128, 128, .8);*/
	width: 60vw;
	color: white;
}

#sect-tools i, #mobile-sect-tools i{
	font-size: 60px;
}

#contact-info{
	min-width: 50vw;
}

#sect-contact{
	background-color: teal;
	width: 80vw;
	color: white;
}


#gmap {
	height: 80vh;
	width: 100%;
}

@media (min-width: 280px) {
	#gmap{
		height: 40vh !important;
	}
}

/*#sect-projects, #contact-info h2 {
	font-size: 5rem;
}*/

footer{
	box-shadow: 0px -1rem 20px -10px;
	margin-top: 5rem !important;
	margin-bottom: 0px !important;
	padding-top: 1rem;
}

#sect-contact, #projects {
	box-shadow: 0px 0px 20px 2px;
}

#landing h1{
	text-shadow: 0px 0px 10px black;
}

#back-to-top{
	width: 50px;
	position: fixed;
	float: right;
	right: 20px;
	top: 90vh;
}

#navbar a{
	text-shadow: 0px 0px 20px black;
}

.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
 }

p:hover{
	transform: scale(1.1);
	color: yellow;
}

p{
	transition: transform 2s;
}

i:hover{
	transform: scale(2.0);
	color: yellow;
	background-color: teal;
}

i{
	transition: transform .5s;
}

.contacts-text:hover{
	color: yellow;
	text-shadow: 0px 0px 20px black;;
}

div.highlightTextIn a:before
{
    position: absolute;
    color: gold;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

div.highlightTextIn a:before
{
    transform: scale(1.2);
} 